# Core Data Science Libraries
numpy==2.1.3
pandas==2.2.3
scikit-learn==1.6.1

# Modeling & Forecasting
lightgbm==4.6.0
skforecast==0.15.0
statsmodels

# Visualization
matplotlib
plotly
graphviz

# Model Interpretation
shap

# Data Retrieval
eurostat